Repository homotopylabs/infiniloom: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, zig-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace --lib
  language: system
  pass_filenames: false
  stages:
  - push

zig-fmt:
  name: zig fmt
  entry: bash -c 'cd core && zig fmt src/'
  language: system
  pass_filenames: false

Add CI workflow
  .github/workflows/ci.yml
Due: none

Fix CI workflow and add missing semantic.rs
  .github/workflows/ci.yml
  engine/src/semantic.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Fix code formatting and simplify rustfmt.toml
  cli/src/main.rs
  cli/src/scanner.rs
  cli/tests/integration_tests.rs
  engine/benches/comparison.rs
  engine/build.rs
  engine/examples/parser_demo.rs
  engine/examples/test_zig_core.rs
  engine/src/chunking/mod.rs
  engine/src/config.rs
  engine/src/default_ignores.rs
  engine/src/dependencies.rs
  engine/src/ffi.rs
  engine/src/git.rs
  engine/src/incremental.rs
  engine/src/lib.rs
  engine/src/mmap_scanner.rs
  engine/src/output/markdown.rs
  engine/src/output/mod.rs
  engine/src/output/toon.rs
  engine/src/output/xml.rs
  engine/src/parser.rs
  engine/src/ranking.rs
  engine/src/remote.rs
  engine/src/repomap/graph.rs
  engine/src/repomap/mod.rs
  engine/src/security.rs
  engine/src/semantic.rs
  engine/src/tokenizer.rs
  engine/src/types.rs
  rustfmt.toml
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Remove -D warnings from clippy in CI
  .github/workflows/ci.yml
Due: none

Add .gitattributes for consistent line endings
  .gitattributes
Due: none

Remove Windows from CI matrix (line ending issues)
  .github/workflows/ci.yml
Due: none

Remove Zig core integration - simplify to pure Rust
  CLAUDE.md
  cli/Cargo.toml
  cli/src/scanner.rs
  core/build.zig
  core/src/cli.zig
  core/src/compressor/rules.zig
  core/src/exports.zig
  core/src/main.zig
  core/src/scanner/binary.zig
  core/src/scanner/gitignore.zig
  core/src/scanner/mmap.zig
  core/src/scanner/parallel.zig
  core/src/scanner/walker.zig
  core/src/tokenizer/bpe.zig
  core/src/tokenizer/counter.zig
  core/src/wasm.zig
  engine/Cargo.toml
  engine/build.rs
  engine/examples/test_zig_core.rs
  engine/src/ffi.rs
  engine/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, zig-fmt

Fix code quality issues found in codebase analysis
  cli/src/main.rs
  engine/src/dependencies.rs
  engine/src/incremental.rs
  engine/src/semantic.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Update e2e tests for pure Rust CLI
  tests/e2e/config.py
  tests/e2e/run_tests.sh
  tests/e2e/test_comparison.py
Due: none

Complete Infiniloom branding - remove all codeloom references
  CONTRIBUTING.md
  Makefile
  README.md
  bindings/node/README.md
  bindings/python/Makefile
  bindings/python/README.md
  bindings/python/examples/basic_usage.py
  bindings/python/examples/llm_integration.py
  bindings/python/python/infiniloom/__init__.py
  bindings/python/python/infiniloom/py.typed
  bindings/python/tests/test_basic.py
  bindings/wasm/README.md
  cli/tests/integration_tests.rs
  docs/INFINILOOM_DESIGN.md
  engine/src/config.rs
  engine/src/security.rs
  tests/e2e/comprehensive_comparison.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  zig-fmt: any of: \.zig$
